<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Dashboard | Template</title>
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="requires/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="main/AdminLTE.min.css">
	<link rel="stylesheet" href="main/skins/blue.css">
	<link rel="stylesheet" href="requires/font-awesome/css/font-awesome.min.css">
	<link rel="icon" type="image/png" href="main/images/manager-icon.png">
	
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body class="skin-blue fixed">
	<div class="wrapper">
		<header class="main-header"> <!-- Main Header -->
			<a href="#" class="logo">
				<span class="logo-lg">Admin<b>BOZ</b></span>
			</a>
			<nav class="navbar navbar-static-top" role="navigation"> <!-- Header Navbar -->
				<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
					<span class="sr-only">Toggle navigation</span>
				</a>
				
				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<li>
							<a href="#" title="Account Setting">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							</a>
						</li>
						<li>
							<a href="#" title="Logout">
								<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
							</a>
						</li>
					</ul>
				</div>
			</nav> <!-- End Header Navbar -->
		</header> <!-- End Main Header -->
		
		<aside class="main-sidebar">
			<section class="sidebar">
				<ul class="sidebar-menu">
					<li class="header">MAIN</li>
					<li><a href="#"><i class="glyphicon glyphicon-home"></i> <span>Home</span></a></li>
					<li class="active treeview">
						<a href="#">
							<i class="glyphicon glyphicon-book"></i> <span>Active Parent</span> <i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href=""><i class="glyphicon glyphicon-star"></i> Child</a></li>
							<li class="active"><a href=""><i class="glyphicon glyphicon-star-empty"></i> Active Child</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="glyphicon glyphicon-book"></i> <span>Non Active Parent</span> <i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href=""><i class="glyphicon glyphicon-star"></i> Child</a></li>
							<li><a href=""><i class="glyphicon glyphicon-star"></i> Child</a></li>
						</ul>
					</li>
					<li><a href="#"><i class="glyphicon glyphicon-file"></i> <span>Link</span></a></li>
				</ul>
			</section>
		</aside>
		
		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Dashboard<small>Admin<b>BOZ</b></small>
				</h1>
				<ol class="breadcrumb">
					<li><a href=""><i class="glyphicon glyphicon-home"></i> Home</a></li>
					<li><a href="">Sub</a></li>
					<li class="active">Link</li>
				</ol>
			</section>
			
			<section class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="box">
							<div class="box-header with-border">
								<h3 class="box-title">Title</h3>
							</div>
							<div class="box-body">
								<div class="row">
									<div class="col-md-12">
										
									</div>
								</div>
							</div>
							<div class="box-footer">
								<div class="row">
									<div class="col-md-12">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
<script src="requires/jquery/jquery-1.12.1.min.js"></script>
<script src="requires/bootstrap/js/bootstrap.min.js"></script>
<script src="main/app.min.js"></script>
<script src="plugins/slimscroll/jquery.slimscroll.min.js"></script>
</body>
</html>